<div class="container">
  <div class="page-adjustment"></div>
  <h1>Email List</h1>

  <p>
  Copy this list and visit: <a href="https://us13.admin.mailchimp.com/lists/members/import/setup?id=220009&type=CutPaste">MailChimp's Copy/Paste interface</a>
  </p>

  <ul>
    <% @emails.each do |email| %>
      <li style="list-style: none;"><%= email %>,</li>
    <% end %>
  </ul>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

</div>
