<!-- About Section -->
<section id="about" class="section-padding text-center">
  <div class="container mb-60">
    <h2><span class="text-light">What to </span>Expect</h2>
    <p class="max-width-700 lead">
      Learning web development is <i>no easy feat</i>. We're here for you, though.
    </p>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
        <div class="icon-top"><i class="icon icon-basic-heart"></i></div>
        <h5 class="features-title">1-on-1 Mentorship</h5>

        <p>
          Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
          vel illum qui dolorem eum fugiat quo.
        </p>

      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
        <div class="icon-top"><i class="icon icon-basic-magnifier"></i></div>
        <h5 class="features-title">Personal Code Reviews</h5>

        <p>
          Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
          vel illum qui dolorem eum fugiat quo.
        </p>

      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
        <div class="icon-top"><i class="icon icon-basic-hammer"></i></div>
        <h5 class="features-title">Watch a professional build real applications</h5>

        <p>
          Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
          vel illum qui dolorem eum fugiat quo.
        </p>

      </div>

    </div>

    <div class="row">

      <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
        <div class="icon-top"><i class="icon icon-basic-webpage-img-txt"></i></div>
        <h5 class="features-title">A Portfolio of Web Applications</h5>

        <p>
          Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
          vel illum qui dolorem eum fugiat quo.
        </p>

      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
        <div class="icon-top"><i class="icon icon-basic-archive-full"></i></div>
        <h5 class="features-title">The most credible learning resources, handpicked</h5>

        <p>
          Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
          vel illum qui dolorem eum fugiat quo.
        </p>

      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
        <div class="icon-top"><i class="icon icon-basic-lightbulb"></i></div>
        <h5 class="features-title">Interview and Job Search Preparation</h5>

        <p>
          Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
          vel illum qui dolorem eum fugiat quo.
        </p>

      </div>

    </div>
  </div>
</section>
<!-- End About Section -->

