<!-- About Section -->
<section id="about" class="section-padding text-center">
  <div class="container mb-60">
    <h2><span class="text-light">What to </span>Expect</h2>
    <p class="max-width-700 lead">
      Learning full-stack web development is <i>no easy feat</i>. We're here for you.
    </p>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
        <div class="icon-top"><i class="icon icon-basic-heart"></i></div>
        <h5 class="features-title">1-on-1 Mentorship</h5>

        <p>
        Though it's possible to learn software development fundamentals on your
        own, having an experienced mentor can cut your learning time in half.
        Our instructors are available around the clock to answer your questions
        <i>as they arise</i>.
        </p>

      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
        <div class="icon-top"><i class="icon icon-basic-magnifier"></i></div>
        <h5 class="features-title">Personal Code Reviews</h5>

        <p>
        Honest and constructive feedback is essential to a software developer's growth. All of the code you write
        will receive a review by our instructors.
        </p>

      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
        <div class="icon-top"><i class="icon icon-basic-hammer"></i></div>
        <h5 class="features-title">Watch a professional build real applications</h5>

        <p>
          Have you ever wondered how Facebook, Twitter, and Reddit work? Look no further.
          You will have the opportunity to code along with our instructors as they build real-world, enterprise
          web apps.
        </p>

      </div>

    </div>

    <div class="row">

      <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
        <div class="icon-top"><i class="icon icon-basic-webpage-img-txt"></i></div>
        <h5 class="features-title">A Portfolio of Web Applications</h5>

        <p>
          Our curriculum is project-based. Not only is working on projects the best way to
          practice the skills you learn, it is also a great way to demonstrate your technical prowess
          to employers.
        </p>

      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
        <div class="icon-top"><i class="icon icon-basic-archive-full"></i></div>
        <h5 class="features-title">The most credible learning resources, handpicked</h5>

        <p>
          There's <i>a lot</i> of information out there -- and not all of it is
          worth reading or watching. Leave it to us to filter through the misinformation
          and provide you with the best instructional content there is.
        </p>

      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
        <div class="icon-top"><i class="icon icon-basic-lightbulb"></i></div>
        <h5 class="features-title">Interview and Job Search Preparation</h5>

        <p>
        From effective resume and cover letter writing to salary negotiation, we will guide you until you are hired.
        </p>

      </div>

    </div>
  </div>
</section>
<!-- End About Section -->

