<!--Contact Info Section-->
    <section id="contact-info" class="section-padding">
      <div class="container text-center">
        <div class="row">
          <!-- <div class="col-md-4 mb-sm-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
            <div class="alt-icon-sm-top"><i class="icon icon-basic-geolocalize-05"></i></div>
            <h5 class="features-title">Address</h5>
            <p>
            801 Dexter Avenue North<br />
            Seattle, WA 98109
            </p>
          </div> -->
          <div class="col-md-6 mb-sm-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
            <div class="alt-icon-sm-top"><i class="icon icon-basic-alarm"></i></div>
            <h5 class="features-title">Active Time Zone</h5>
              <p>9AM - 9PM Pacific<br /></p>
          </div>
          <div class="col-md-6 mb-sm-30 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
            <div class="alt-icon-sm-top"><i class="icon icon-basic-headset"></i></div>
            <h5 class="features-title">Contact</h5>
            <p class="contact-link">
            <a href="mailto:team@rubyonrichards.com"><span class="text-bold">Email :</span> team@rubyonrichards.com</a><br />
            <a><span class="text-bold">Call :</span> 516-967-2755</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Info Section-->
