<!--Footer Section-->
<footer id="footer" class="footer section-padding gray-bg">
  <div class="container text-center">

    <!--Footer Logo-->
    <% if action_name == "home" %>
      <div class="footer-logo mb-25 wow fadeInUp" data-wow-duration="1.5s">
        <a class="scroll-top" href="/">
          <img src="img/logo.png"/>
        </a>
      </div>
    <% else %>
      <div class="footer-logo mb-25 wow fadeInUp" data-wow-duration="1.5s">
        <a href="/">
          <img src="img/logo.png"/>
        </a>
      </div>
    <% end %>
    <!--End Footer Logo-->

    <!-- Copyright -->
    <p class="copyright mb-25 scroll-top">
    &copy; 2016 <b><%= link_to 'Ruby on Richards', root_path %></b>. All Rights Reserved.<br>
    </p>
    <!-- Copyright -->

    <!-- Social -->
    <ul class="social">
      <li>
        <a href="https://www.twitter.com/rubyonrichards" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
    </ul>
    <!-- End Social -->
  </div>
</footer>
<!-- End Footer Section-->
