<!--Intro Section-->
<section id="intro" class="intro-fullscreen">
  <!--Static Hero-->
 <div class="intro-media bg-image overlay-dark20" data-background-img=""></div>

  <div class="intro-caption-waper dark-bg">
    <div class="intro-full-height container">
      <div class="intro-content">
        <div class="intro-content-inner">
          <h1 class= "intro-title">Become a developer and build Ruby on Rails applications in 2 months.</h1>
         <!--  <h1 class="intro-title mb-10"><span class="text-light">Hi!, I am</span> John Doe</h1> %> -->
            <h4 class="page-title-alt color mb-45">We are full-stack developers teaching web development.</h4>
          <a class="btn btn-lg btn-white scroll-down" href="#service">Why us over bootcamp?</a>
        </div>
      </div>
    </div>
  </div>

  <!-- End Static Hero-->

</section>
<!-- End Intro Section-->
