<!--Intro Section-->
<section id="intro" class="intro-fullscreen">
  <!--Static Hero-->
  <div class="intro-media bg-image " data-background-img=""></div>

  <div class="intro-caption-waper dark-bg">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-success") %>
    <% end %>
    <div class="intro-full-height container">
      <div class="intro-content">
        <div class="intro-content-inner">

          <h1 class= "intro-title">
            <span class="bold-text">Become a developer</span> and build Ruby on Rails applications <span class="bold-text in-two-months"></span></h1>

          <h4 class="page-title-alt color mb-45">
            We are software engineers teaching full-stack web development.</h4>

          <a class="btn btn-lg btn-white scroll-down" href="#service">
            Why us over bootcamp?</a>

          <div class = "intro-stack">

            <div class="col-sm-2">
              <i class="devicon-html5-plain intro-tech-icon"></i>
              <h6 class="page-title-alt color mb-45 tech-name">HTML / CSS</h6>
            </div>

            <div class="col-sm-2">
              <i class="devicon-ruby-plain intro-tech-icon"></i>
              <h6 class="page-title-alt color mb-45 tech-name">Ruby</h6>
            </div>

            <div class="col-sm-2">
              <i class="devicon-git-plain-wordmark intro-tech-icon"></i>
              <h6 class="page-title-alt color mb-45 tech-name">Version Control</h6>
            </div>

            <div class="col-sm-2">
              <i class="devicon-postgresql-plain intro-tech-icon"></i>
              <h6 class="page-title-alt color mb-45 tech-name">SQL</h6>
            </div>

            <div class="col-sm-2">
              <i class="devicon-travis-plain intro-tech-icon"></i>
              <h6 class="page-title-alt color mb-45 tech-name">Testing</h6>
            </div>

            <div class="col-sm-2">
              <i class="devicon-heroku-plain-wordmark intro-tech-icon"></i>
              <h6 class="page-title-alt color mb-45 tech-name">Deployment</h6>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Static Hero-->

</section>
<!-- End Intro Section-->

<script src="/js/typetype.js"></script>

<script>
$('.in-two-months').typetype(
    'in 2 months.',
    {
      e: 0.10, // error rate. (use e=0 for perfect typing)
      t: 100, // interval between keypresses
      keypress: function (){
        // called after every keypress (this may be an erroneous keypress!)

      },
      callback: function (){
        // the `this` keyword is bound to the particular element.
      }
    }
    )
</script>
