<!--Intro Section-->
  <section id="intro" class="intro-fullscreen">
    <!--Static Hero-->
    <div class="intro-media bg-image overlay-dark20 parallax parallax-background2" data-background-img=""></div>
    <div class="intro-caption-waper dark-bg">
      <div class="intro-full-height container">
        <div class="intro-content">
          <div class="intro-content-inner">
            <%# <div class="intro-img-circle"> %>
              <%# <img src="img/avatar01.jpg" alt="avatar01"/> %>
              <%# </div> %>
            <%# <h1 class="intro-title mb-10"><span class="text-light">Hi!, I am</span> John Doe</h1> %>
            <%# <h6 class="page-title-alt color mb-45">Web Designer & Developer</h6> %>
            <a class="btn btn-lg btn-white scroll-down" href="#pricing">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <!-- End Static Hero-->

  </section>
  <!-- End Intro Section-->
