<section id="team-people" class="section-padding text-center">
  <div class="container">
    <h2 class="page-title">Our <span class="text-light">Team</span></h2>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="item">
          <div class="team-item">
              <div class="team-item-img">
                <img src="dylan_richards.jpg"/>
                <div class="team-item-detail">
                  <div class="team-item-detail-inner light-color">
                    <h5>Dylan Richards</h5>
                    <p>Is a boss. ;)</p>
                    <ul class="social">
                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="team-item-info">
                <h6>Dylan Richards</h6>
                <p class="">Lead Instructor</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="item">
              <div class="team-item">
                  <div class="team-item-img">
                      <img src="ka_mok.jpg" alt="" />
                      <div class="team-item-detail">
                          <div class="team-item-detail-inner light-color">
                              <h5>Ka Mok</h5>
                              <p>I used to do product design before I began doing development work. My skill set range from UI/UX, business, to web development. I went to Parsons School of Design in NYC.</p>
                              <ul class="social">
                                  <li><a href="http://www.heykamok.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
                                  <li><a href="https://github.com/kamok/" target="_blank"><i class="fa fa-github"></i></a></li>
                                  <li><a href="https://www.linkedin.com/in/ka-mok-04399b65" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="team-item-info">
                      <h6>Ka Mok</h6>
                      <p class="">Instructor</p>
                  </div>
              </div>
          </div>
        </div>
        
    </div>
  </div>
</section>
