<section id="team-people" class="section-padding text-center">
  <div class="container">
    <h2 class="page-title">Our <span class="text-light">Team</span></h2>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="item">
          <div class="team-item">
            <div class="team-item-img">
              <img src="dylan_richards.jpg"/>
              <div class="team-item-detail">
                <div class="team-item-detail-inner light-color">
                  <h5>Dylan Richards</h5>

                  <p>
                  Dylan has over 8 years of experience in software development. As a teenager,
                  He enjoyed building PHP and Django apps for competitive gaming teams in New Zealand, Australia, and The Netherlands.
                  </p>

                  <p>
                  Since dropping out of The University of Connecticut, he's been a lead developer at a number of groundbreaking startups in New York City,
                  including Sweeten, an award-winning home renovation website, and Amazon Inc.
                  </p>

                  <ul class="social">
                    <li><a href="http://www.dylanerichards.com" target="_blank"><i class="fa fa-globe"></i></a></li>
                    <li><a href="https://www.github.com/dylanerichards" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/dylanerichards" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="team-item-info">
              <h5>Dylan Richards</h5>
              <p class="">Lead Instructor</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="item">
          <div class="team-item">
            <div class="team-item-img">
              <img src="ka_mok.jpg" alt="" />
              <div class="team-item-detail">
                <div class="team-item-detail-inner light-color">
                  <h5>Ka Mok</h5>

                  <p>
                  Ka used to do product design before doing development work.
                  He went to Parsons School of Design in NYC and studied design + business before he began coding. 
                  While in college and working at the University, he executed a freelance iOS app contract with a non-profit called Apex for Youth.
                  </p>

                  <p>
                  <i>
                    "Being a programmer means having the ability to understand and change the world in most minute of details and making a big impact."
                  </i>
                  </p>

                  <ul class="social">
                    <li><a href="http://www.heykamok.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
                    <li><a href="https://github.com/kamok/" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/ka-mok-04399b65" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="team-item-info">
              <h5>Ka Mok</h5>
              <p class="">Instructor</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
