<!-- Pricing Table -->
<section id="pricing" class="section-padding">
  <div class="container text-center">
    <h2 class="text-light"><span class="page-title">The </span>Plans</h2>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-md-4 mb-sm-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
        <div class="pricing-box">
          <div class="pricing-title pricing-padding-t">
            <h4>Keep in touch</h4>
          </div>
          <div class="pricing-price pricing-padding">
            <p><span class="pricing-price-lg">free</span></p>
          </div>
          <div class="pricing-features">
            <ul>
              <li>Get our <strong>full curriculum</strong>.</li>
              <li>Receive programming tutorials to your inbox weekly.</li>
              <li>Access to our job-search guide.</li>
              <li class="fake-hidden">Access to our job-search guide.</li>
              <li class="fake-hidden">Access to our job-search guide.</li>
              <br>
            </ul>
          </div>
          <div class="pricing-button pricing-padding">
            <a class="btn btn-md btn-black" href="#modal" ><i class="fa fa-user-plus"></i>Subscribe</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-sm-30 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
        <div class="pricing-box">
          <div class="pricing-title pricing-padding-t">
            <h4>Developer</h4>
          </div>
          <div class="pricing-price pricing-padding">
            <p><span class="dollar">$</span><span class="pricing-price-lg">300</span><span class="pricing-price-sm">/ week</span></p>
          </div>
          <div class="pricing-features">
            <ul>
              <li>First week is <strong>free</strong>.</li>
              <li>Access to all of our learning materials.</li>
              <li>Attend all 3 of our <strong>weekly lectures</strong>.</li>
              <li><strong>Unlimited</strong> texting for help.</li>
              <li>Schedule <strong>1-on-1 calls</strong> to your needs.</li>
              <li>100% money back <strong>guarantee</strong>.</li>
              <li class="fake-hidden">Access to our job-search guide.</li>
            </ul>
          </div>
          <div class="pricing-button pricing-padding">
            <a class="btn btn-md btn-black developer-trial" href="introduce-yourself" ><i class="fa fa-mail-reply left"></i>7-Day Free Trial</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-sm-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
        <div class="pricing-box highlight">
          <div class="pricing-title pricing-padding-t">
            <h4>Entrepreneur</h4>
          </div>
          <div class="pricing-price pricing-padding">
            <p><span class="dollar">$</span><span class="pricing-price-lg color">200</span><span class="pricing-price-sm">/ week</span></p>
          </div>
          <div class="pricing-features">
            <ul>
              <li>First week is <strong>free</strong>.</li>
              <li><b>Launch</b> your minimum viable product in 8 weeks</li>
              <li><b>Learn just enough code</b> to be able to launch your product.</li>
              <li>100% money back <strong>guarantee</strong>.</li>
              <li class="fake-hidden">Access to our job-search guide.</li>
              <br>
            </ul>
          </div>
          <div class="pricing-button pricing-padding">
            <a class="btn btn-md btn-color" href="/introduce-yourself" target="_blank"><i class="fa fa-mail-reply left"></i>7-day free trial</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<!-- End Pricing Table -->
