<!-- Pricing Table -->
<section id="pricing" class="section-padding">
  <div class="container text-center">
    <h2 class="text-light">The <span class="page-title">Plans</span></h2>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-md-6 mb-sm-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s"> 
        <div class="pricing-box"> 
          <div class="pricing-title pricing-padding-t"> 
            <h4>Keep in touch</h4> 
          </div> 
          <div class="pricing-price pricing-padding"> 
            <p><span class="pricing-price-lg">free</span></p> 
          </div> 
          <div class="pricing-features"> 
            <ul> 
              <li>Get our <strong>full curriculum</strong>.</li>
              <li>Receive weekly tips and tricks.</li> 
              <li>Access to our job-search guide.</li> 
              <br> 
            </ul> 
          </div> 
          <div class="pricing-button pricing-padding"> 
            <a class="btn btn-md btn-black" href="#modal" ><i class="fa fa-user-plus"></i>Subscribe</a>
          </div> 
        </div> 
      </div>

      <div class="col-md-6 mb-sm-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
        <div class="pricing-box highlight">
          <div class="pricing-title pricing-padding-t">
            <h4>dedicated</h4>
          </div>
          <div class="pricing-price pricing-padding">
            <p><span class="dollar">$</span><span class="pricing-price-lg color">300</span><span class="pricing-price-sm">/ week</span></p>
          </div>
          <div class="pricing-features">
            <ul>
              <li>First week <strong>free</strong>.</li>
              <li>Access to all of our learning materials.</li>
              <li>Attend all 3 of our <strong>weekly lectures</strong>.</li>
              <li><strong>Unlimited</strong> texting for help.</li>
              <li>Schedule <strong>1-on-1 calls</strong> to your needs.</li>
              <br>
            </ul>
          </div>
          <div class="pricing-button pricing-padding">
            <a class="btn btn-md btn-color" href="/introduce-yourself" target="_blank"><i class="fa fa-mail-reply left"></i>Apply now!</a>
          </div>
        </div>
      </div>
      <%# <div class="col-md-4 mb-sm-30 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s"> %>
        <%#   <div class="pricing-box"> %>
          <%#     <div class="pricing-title pricing-padding-t"> %>
            <%#       <h4>Dedicated</h4> %>
            <%#     </div> %>
          <%#     <div class="pricing-price pricing-padding"> %>
            <%#       <p><span class="dollar">$</span><span class="pricing-price-lg">300</span><span class="pricing-price-sm">/ week</span></p> %>
            <%#     </div> %>
          <%#     <div class="pricing-features"> %>
            <%#       <ul> %>
              <%#         <li>Get all of our learning materials.</li> %>
              <%#         <li>Access to <strong>3 of 3 lectures </strong>per week.</li> %>
              <%#         <li><strong>Unlimited</strong> texting for help.</li> %>
              <%#         <li>Schedule 1-on-1 calls to your needs.</li> %>
              <%#       </ul> %>
            <%#     </div> %>
          <%#     <div class="pricing-button pricing-padding"> %>
            <%#       <a class="btn btn-md btn-black" href="introduce-yourself" ><i class="fa fa-mail-reply left"></i>Apply now!</a> %>
            <%#     </div> %>
          <%#   </div> %>
        <%# </div> %>
      <%# </div> %>
    <%# </div> %>
</section>
<!-- End Pricing Table -->
