<div class="remodal" data-remodal-id="modal">
  <button data-remodal-action="close" class="remodal-close"></button>
	  <div id="modal-content">
		  <h3>Get our curriculum for free</h3>
			  <img src="/img/curriculum-preview-modal.png"/>
			  <p>
			    We will email you our curriculum and put you on our mailing list.<br>If you don't like our content, unsubscribe anytime.
			  </p>
		  <br>
	  </div>
	<form class="form-inline">
	  <div class="form-group">
	    <label for="exampleInputEmail2">Email</label>
	    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="student@example.com">
	  </div>
	  <button type="submit" class="btn btn-md btn-color">Subscribe!</button>
	</form>
</div>