<div class="remodal" data-remodal-id="modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <div id="modal-content">
    <h3>The Free Coding Bootcamp</h3>
      <div class="your-clock"></div>
      Until the next newsletter
    <img src="/img/curriculum-preview-modal.png"/>
    <p class="newsletter-info">
    Quality programming and web development tutorials, tips and tricks, and interview preparation delivered straight to your inbox every Monday morning.
    </p>
    <br>
  </div>

  <form class="form-inline" method="post">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="student@example.com">
    </div>
    <button type="submit" class="btn btn-md btn-color" formaction="/newsletter-signup">
      Get started learning!
    </button>
  </form>

</div>
