<!-- Service Section -->
<section id="service" class="section-padding">
  <div class="container mb-60 text-center">
    <h2>Our <span class="text-light">Service</span></h2>
    <p class="max-width-700 large">Not anyone can complete this program. You need to have determination to learn for your own sake and work in a lucrative industry. We will not penalize you for skipping out on assignments. Everything is up to you. </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 pt-30 pt-sm-0">
        <h3 class="features-title", style="text-align:center">Bootcamp</h3>
        <div class="content-box right wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
          <div class="icon-right"><i class="icon icon-basic-display"></i></div>
          <h5 class="features-title">Price</h5>
          <p>$13,000 USD +</p>
        </div>
        <div class="content-box right wow fadeIn" data-wow-delay="0.2s" data-wow-duration="4s">
          <div class="icon-right"><i class="icon icon-music-play-button"></i></div>
          <h5 class="features-title">Class Size</h5>
          <p>1 instructor to 27 students</p>
        </div>
        <div class="content-box right wow fadeIn" data-wow-delay="0.2s" data-wow-duration="6s">
          <div class="icon-right"><i class="icon icon-basic-eye"></i></div>
          <h5 class="features-title">Environment</h5>
          <p>On site 9AM to 6PM.</p>
        </div>
        <div class="content-box right wow fadeIn" data-wow-delay="0.2s" data-wow-duration="8s">
          <div class="icon-right"><i class="icon icon-basic-webpage-multiple"></i></div>
          <h5 class="features-title">Instructor Access</h5>
          <p>8 hours on weekdays.</p>
        </div>
      </div>

      <!-- <div class="col-md-4 hidden-sm hidden-xs text-center">
        <img src="img/mockup02.png" alt="" />
      </div> -->

      <div class="col-md-6 pt-30 pt-sm-0">
        <h3 class="features-title", style="text-align:center">Us</h3>
        <div class="content-box left wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
          <div class="icon-left"><i class="icon icon-basic-gear"></i></div>
          <h5 class="features-title">Price</h5>
          <p>$70 - $2,700 USD</p>
        </div>
        <div class="content-box left wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
          <div class="icon-left"><i class="icon icon-basic-cards-diamonds"></i></div>
          <h5 class="features-title">Class Size</h5>
          <p>1 instructor to 4 students </p>
        </div>
        <div class="content-box left wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
          <div class="icon-left"><i class="icon icon-basic-sheet"></i></div>
          <h5 class="features-title">Environment</h5>
          <p>In your pajamas, on your own time.</p>
        </div>
        <div class="content-box left wow fadeIn" data-wow-delay="0.8s" data-wow-duration="2s">
          <div class="icon-left"><i class="icon icon-basic-headset"></i></div>
          <h5 class="features-title">Instructor Access</h5>
          <p>24/7 via text, Skype, or Google Hangouts.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Service Section -->
