<section id="intro" class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>We are fullstack developers trying to teach others web development.</h1>
        <h4>Learn to become a junior developer and make professional grade Ruby on Rails web applications in two months.</h4>
        <p>   
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about" class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Why us over Coding Bootcamp X or App Academy Y?</h1>
        <h4>This program is for students who don’t need someone to tell them to do their homework. You have determination to learn for your own sake and work in a lucrative industry. Your progress will be determined by how hard you work each day. We don’t penalize you for skipping out on assignments. Everything is up to you.</h4>

        <table id="us-vs-them">
          <tr>
            <th>Bootcamp</th>
            <th>Us</th>
          </tr>
          <tr>
            <td>$13,000+</td>
            <td>$70 - $2,500</td>
          </tr>
          <tr>
            <td>1 instructor to 27 students (dev bootcamp)</td>
            <td>1 instructor to 4 students </td>
          </tr>
          <tr>
            <td>On site</td>
            <td>Remotely </td>
          </tr>
          <tr>
            <td>8 hrs access</td>
            <td>24/7 access</td>
          </tr>
          <tr>
            <td>pairing</td>
            <td>pairing</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</section>

<!-- Services Section -->
<section id="services" class="services-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1>Services Section</h1>
          </div>
      </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1>Contact Section</h1>
          </div>
      </div>
  </div>
</section>