.intro-stack {
  margin-top: 55px;
  color: #c7a674;
}

.intro-stack h6 {
  color:white !important;
}

.pricing-box{
  min-height: 465px;
}

.tooltip.top .tooltip-inner {
    background-color: rgba(51, 51, 51, 0.90);
}

.tooltip.top .tooltip-arrow {
  border-top: 5px solid rgba(51, 51, 51, 0.90) !important;
}