nav {
  margin-bottom: 40px;
}

.bold-text {
  color: #c7a674
}

.intro-tech-icon {
  font-size: 3.8em;
}

.tech-name {
  margin-top: 10px;
}

.intro-caption-waper {
  background-color: #111;
}

.page-adjustment {
  margin-top: 99px;
}

.questions li {
  font-size: 1.2em;
  line-height: 1.5em;
}
