<meta charset="utf-8" />
<title>Your Code Mentor | Ruby on Richards</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<meta name="google-site-verification" content="uierz2rfSVeVS9f9AJczi45BymbO6CT-fGYq6YmK0UA" />

<!-- Favicone Icon -->
<%= favicon_link_tag 'favicon.ico' %>
<%# <link rel="icon" type="image/png" href="img/favicon.png" /> %>
<%# <link rel="apple-touch-icon" href="img/favicon.png" /> %>

<!-- Css -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="css/plugins/animate.css" rel="stylesheet" type="text/css" />
<!-- SLIDER REVOLUTION CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
