<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="/">RoR</a>
  <ul class="nav navbar-nav">
    <ul class="nav navbar-nav">
      <li><a href="/topics">Topics</a></li>
    </ul>
  </ul>
</nav>
