<!-- Testimonials Section-->
<section id="testimonials" class="section-padding overlay-dark dark-bg bg-image text-center" data-stellar-background-ratio="0.5" data-background-img="img/full/05.jpg">
  <div class="container">
    <div class="owl-carousel testimonial-carousel nf-carousel-theme white">

      <div class="item">
        <div class="testimonial text-center max-width-700">
          <div class="page-icon-sm"><i class="fa fa-quote-right"></i></div>
          <p class="lead">Dylan is a great developer with an eye for best practices and design patterns. His passion for programming is only matched by his desire to help others learn.</p>
          <h6 class="quote-author">Ryan Couto  <span style="font-weight: 400;">(Twitter)<span></h6>
        </div>
      </div>

      <div class="item">
        <div class="testimonial text-center max-width-700">
          <div class="page-icon-sm"><i class="fa fa-quote-right"></i></div>
          <p class="lead">I had a talk accepted at Ruby Remote Conf this summer! Thanks for inspiring me, Dylan.</p>
          <h6 class="quote-author">Esther L. <span style="font-weight: 400;">(Bootcamp Graduate)<span></h6>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Testimonials Section -->
